// Put any @imports here
// See Readme for a list of supported ones

// Import Foundation and Motion-UI
@import 'foundation';
@import 'motion-ui';
@include motion-ui-transitions;
@include foundation-everything;


body {
  background: #2C2C2C;
}

.top-bar {
  height: 20%;
  margin-bottom: 10%;
}

.container {
  margin: auto;
  text-align: center;
  width: 70%;
}
  .back {
    color: #3B3B3B;
    font-family: Oswald, sans-serif;
    font-size: 3.5em;
  }
    hr {
      border: 2px solid orangered;
      float: left;
      width: 60px;

    }

