<div class="top-bar">
  <nav data-topbar role="navigation">

    <section class="top-bar-left">
      <ul class="menu">
        <li class="name">
          <h1><a href="/">Name</a></h1>
        </li>
      </ul>
    </section>

    <section class="top-bar-right">
      <ul class="horizontal menu">
        <li><a href="#first">First</a></li>
        <li><a href="#second">Second</a></li>
        <li><a href="#third">Third</a></li>
      </ul>  
    </section>
  </nav>
</div>

<div class="container" ui-view></div>